<h1>Name: {{foundUser.username}}</h1>
<img src="{{foundUser.profilePictureURL}}" alt="profile-picture" />
<h1>Languages I Speak: {{foundUser.languagesISpeak}}</h1>
<h1>Languages I want to learn: {{foundUser.languagesIWantToLearn}}</h1>
<h1>Contact me via: {{foundUser.socialMediaLink}}</h1>

<a href="/{{foundUser._id}}/edit-user">Edit profile</a>

<h1>Posts: </h1>
{{! BOOTSTRAP LIST }}