<link rel="stylesheet" href="/stylesheets/style-index.css" />

{{#each userWhoFavorited.favoritePosts}}

  <div class="container">
    <div class="row">
      {{! First column }}
      <div class="col-sm-0 col-md-3"></div>
      {{! Second column }}
      <div class="col-sm-12 col-md-6">
        <div class="card my-5 w-100" style="width: 25rem">

            <div class="d-flex justify-content-between">
            <h5 class="card-title">{{this.title}}</h5>
            <form action="/remove-favorite/{{this._id}}" method="POST">
            <button type="submit" class="btn .align-self-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></a></button></form>
            </div>

          <a href="/{{author._id}}" class="custom-user-link">
            <h3 class="custom-username">
              <img
                src="{{author.profilePictureURL}}"
                width="50px"
                height="50px"
                class="custom-profile-picture"
              />{{author.username}}</h3>
          </a>

          <h5 class="card-title">{{title}}</h5>
          <img src="{{postPicture}}" class="card-img-top" alt="post picture" />
          <div class="card-body">
            <p class="card-text">{{description}}<p>
            <button class="btn" type="submit"><a
                class="custom-atag"
                href="/search?languageToSearch={{languageTag}}"
              ># {{languageTag}}</a></button>
          </div>

        </div>
      </div>
      {{! Third column }}
      <div class="col-sm-0 col-md-3"></div>
    </div>
  </div>
{{/each}}
