<link rel="stylesheet" href="/stylesheets/style-index.css" />
{{#each allPosts}}
  <div class="container">
    <div class="row">
      {{! First column }}
      <div class="col-sm-0 col-md-3"></div>
      {{! Second column }}
      <div class="col-sm-12 col-md-6">
        <div class="card my-5 w-100" style="width: 25rem">

          <a href="/{{this.author._id}}" class="custom-user-link">
            <h3 class="custom-username">
              <img
                src="{{this.author.profilePictureURL}}"
                width="50px"
                height="50px"
                class="custom-profile-picture"
              />{{this.author.username}}</h3>
          </a>

          <h5 class="card-title">{{this.title}}</h5>
          <img src="{{this.postPicture}}" class="card-img-top" alt="post picture" />
          <div class="card-body">
            <p class="card-text">
              {{this.description}}
            </p>
          
          {{#each this.comments}}
          <p>{{this.commentator}}</p>
          <p>{{this.text}}</p>
          {{/each}}

            <button class="btn" type="submit"><a class="custom-atag"
                href="/search?languageToSearch={{this.languageTag}}"
              ># {{this.languageTag}}</a></button>
          </div>
        <div class="input-group mb-3">
          <form action="/add-comment/{{this._id}}" method="POST">
            <input type="text" class="form-control" placeholder="Your comment" aria-label="Recipient's username" aria-describedby="button-addon2" name="text">
            <button class="btn btn-outline-secondary" type="submit">Comment</button>
          </form>
        </div>
        </div>
      </div>
      {{! Third column }}
      <div class="col-sm-0 col-md-3"></div>
    </div>
  </div>
{{/each}}